/* Home */

#home{
    background: #07425b;
    background: linear-gradient(90deg, #07425b 40%, #021924 100%);
    min-height: 500px;
    font-family: Garamond, serif;
}

.navbar{
    font-family: Garamond, serif;
}

.container{
    font-family: Garamond, serif;
}

/* Cards */
.card{
    transition: all 0.5s ease;
    height: 100vh;
    width: auto;
}
.card:hover{
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
  
.center-content {
    text-align: center;
}
  

/* Footer */
footer{
    background: rgb(6, 52, 72) !important;
    background: linear-gradient(90deg, rgb(9, 66, 91) 40%, #021924 100%) !important;
    font-family: Garamond, serif;
}